body{
	background-image:url(images/bg.png);
}
#wrapper{
	border: 10px solid white;
	background-color: white;
	margin:10px 10%;
}
#header{
	border: 0px solid red;
	text-align:right;
	background-color: #A8F0F0;
}
#header > h2{
	border: 0px solid orange;
	font-size:14pt;
}
.time{
	border-bottom: 2px dashed #C2E9E9;
}

#article{
	border: 4px solid #C2E9E9;
	background-color:#E8FBFB;
	padding: 5px;
	overflow: hidden;
	margin-bottom: 7px;
}
p > img{
	display: block;
	float: right;
    margin: 1px;
}
.left-box{
	background-color: #99e0e0;
	border: 4px solid #009097;
    box-sizing: border-box;
    padding: 5px;
    margin-right: 7px;
    height: 30%;
    overflow: hidden;
}
.right-box{
}
.container{
	margin-top:10px;
	display: grid;
	grid-template-columns: 25% 75%;
}
#header:hover{
	background-color: yellow;		
}

#article:hover{
	background-color: yellow;	
}

